

.content__container {
    position: absolute;
}

.content__container--line {

    top: 231px;
    left: 310px;
    width: 92px;
    height: 1px;
    background-color: #E3B873;

}


.content__container--nav {
    top: 107px;
    left: 626px;
    display: flex;
    gap: 60.5px;
}


.content__container--img {
    
}