

.content__container {
    position: absolute;
}

.content__container--line {

    top: 231px;
    left: 310px;
    width: 92px;
    height: 1px;
    background-color: #E3B873;

}


.content__container--nav {
    position: relative;
    top: 107px;
    left: 626px;
    width: 679px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
}

.content__container--nav:hover {
    overflow-x: auto;
}


.content__container--img {
    top: 176.36px;
    left: 626px;
    width: 679px;
    height: 482.38px;
    overflow: hidden;
}



.content__container--selector {
    top: 646px;
    left: 135px;
    width: 205px;
    height: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}


.content__container--markers {
    position: relative;
    width: 80px;
    height: 100%;
    display: flex;

    gap: 15px;
    justify-content: space-between;
    align-items: center;

    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;


}

.content__container--markers:hover {
    overflow-x: auto;

}


.content__marker {

    min-width:  10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);;
    position: relative;

    cursor: pointer;
}

.content__marker--active {
    background-color: #FFFFFF;
}