

*{
  box-sizing: border-box;
}

.body {
    width: 1440px;
    height: 783px;
    background-color: #131313;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.body:hover {
  overflow: auto;
  scrollbar-width: none;
}