@import url(__text/text.css);
@import url(__container/container.css);
@import url(__header/header.css);
@import url(__img/img.css);

.content {
    width: 1171px;
    height: 552.28px;
    position: absolute;
    top: 107px;
    left: 134px;
}


